<html xmlns="http://wwww.thymeleaf.org">

<head>
    <title>Coronavirus Tracker application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

    <div class="container">
    <h1>Coronavirus - Rastreador</h1>
    <p>Número atual de casos reportados no mundo</p>
    
    <div class="jumbotron">
      <h1 class="display-4" th:text="${totalReportedCases}"></h1>
      <p class="lead">Total de casos reportados até hoje.</p>
      
    </div>

    
      <table class="table">
        <tr>
          <th>Estado/Província</th>
          <th>País</th>
          <th>Total de casos reportados</th>
        </tr>
        <tr th:each="locationStat : ${locationStats}">
          <td th:text="${locationStat.state}"></td>
          <td th:text="${locationStat.country}"></td>
          <td style="text-align: right" th:text="${locationStat.latestTotalCases}">0</td>
        </tr>
      </table>
    </div>
</body>




</html>

